In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
train_weather = pd.read_csv('/Users/rkhu/Desktop/upenn/other/maize_gxe/data/Training_Data/4_Training_Weather_Data_2014_2021.csv')
train_trait = pd.read_csv('/Users/rkhu/Desktop/upenn/other/maize_gxe/data/Training_Data/1_Training_Trait_Data_2014_2021.csv')

train_weather['Date'] = pd.to_datetime(train_weather['Date'], format='%Y%m%d')
train_weather['Month_Day'] = train_weather['Date'].dt.strftime('%m-%d')
train_weather['Field_Location'] = train_weather['Env'].str.replace('_\d{4}', '')

/var/folders/x1/68s4ss8j44bgn7dv42vcp9qh0000gp/T/ipykernel_32351/1708918500.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  train_weather['Field_Location'] = train_weather['Env'].str.replace('_\d{4}', '')

In [3]:
test_weather = pd.read_csv('/Users/rkhu/Desktop/upenn/other/maize_gxe/data/Testing_Data/4_Testing_Weather_Data_2022.csv')

test_weather['Date'] = pd.to_datetime(test_weather['Date'], format='%Y%m%d')
test_weather['Month_Day'] = test_weather['Date'].dt.strftime('%m-%d')
test_weather['Field_Location'] = test_weather['Env'].str.replace('_\d{4}', '')

/var/folders/x1/68s4ss8j44bgn7dv42vcp9qh0000gp/T/ipykernel_32351/1643920210.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  test_weather['Field_Location'] = test_weather['Env'].str.replace('_\d{4}', '')

In [7]:
train_test_weather = pd.concat([train_weather, test_weather])

In [27]:
train_test_weather.head()

,Env,Date,QV2M,T2MDEW,PS,RH2M,WS2M,GWETTOP,ALLSKY_SFC_SW_DWN,ALLSKY_SFC_PAR_TOT,T2M_MAX,T2M_MIN,T2MWET,GWETROOT,T2M,GWETPROF,ALLSKY_SFC_SW_DNI,PRECTOTCORR,Month_Day,Field_Location
0,ARH1_2016,2016-01-01,3.54,-0.78,102.34,77.00,2.15,0.84,8.21,41.96,7.80,-0.70,1.15,0.83,3.08,0.8,5.96,0.0,01-01,ARH1
1,ARH1_2016,2016-01-02,3.23,-1.91,102.04,74.62,1.49,0.84,11.28,55.13,10.15,-3.10,0.42,0.83,2.74,0.8,16.13,0.0,01-02,ARH1
2,ARH1_2016,2016-01-03,4.09,1.05,101.59,80.69,1.95,0.84,9.78,49.21,12.39,-1.29,2.72,0.83,4.38,0.8,18.36,0.0,01-03,ARH1
3,ARH1_2016,2016-01-04,2.87,-3.49,102.24,79.88,3.45,0.84,7.35,35.66,4.56,-4.00,-1.79,0.83,-0.09,0.8,10.87,0.0,01-04,ARH1
4,ARH1_2016,2016-01-05,2.81,-3.64,102.37,78.81,1.95,0.84,13.00,62.04,6.94,-4.59,-1.74,0.82,0.16,0.8,27.02,0.0,01-05,ARH1

In [26]:
na_count['total_na_count'] = na_count.sum(axis=1)

In [20]:
na_count = train_test_weather.groupby('Env').count().rsub(train_test_weather.groupby('Env').size(), axis=0)
na_count['total_na_count'] = na_count.sum(axis=1)

In [28]:
na_count

,Date,QV2M,T2MDEW,PS,RH2M,WS2M,GWETTOP,ALLSKY_SFC_SW_DWN,ALLSKY_SFC_PAR_TOT,T2M_MAX,T2M_MIN,T2MWET,GWETROOT,T2M,GWETPROF,ALLSKY_SFC_SW_DNI,PRECTOTCORR,Month_Day,Field_Location,total_na_count
Env,,,,,,,,,,,,,,,,,,,,
ARH1_2016,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ARH1_2017,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ARH1_2018,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ARH2_2016,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ARH2_2017,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WIH2_2021,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
WIH2_2022,0,5,5,5,5,5,254,10,254,5,5,5,254,5,254,254,5,0,0,1330
WIH3_2020,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
WIH3_2021,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
WIH3_2022,0,5,5,5,5,5,254,12,254,5,5,5,254,5,254,254,5,0,0,1332

In [ ]:
na_count.to_csv('weather_feature_na_count_by_env.csv')